@charset "utf-8";

body {
  background-color:yellow;
}
.pic_name {
  font-size: 20px;
  font-family: 'Mystery Quest', cursive;
}

.index_header{
  font-size: 40px;
  font-family: 'Mystery Quest', cursive;
  text-align: center;
}

.pic_description {
  font-family: 'Source Code Pro', sans-serif;
  font-style:Light 300;
}

.showlist {
  text-align:center;
  margin: 0 auto;
}

table {
  margin: 0 auto;
}

.footer_links {
  text-align:center;
  margin: 0 auto;
  font-family: 'Mystery Quest', cursive;
  font-size:10px;
}

